body{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th{
    background-color: #268bc5;
    color: white;
}

.dia{
    background-color: #66b2df;
}

#padre{
    display: flex;
    justify-content: center;
    text-align: center;
}

.horario{
    width: 90%;
}

.tiempo_de_clases{
    width: 100px;
}

.nada{
    color: white;
}

.dia{

}